---
import type { Repo } from "~/models/repo";
import RepoCard from "./RepoCard/RepoCard.astro";

interface Props {
  repos: Repo[];
  github: { username: string };
}

const { repos, github } = Astro.props;

---

<div class="col-span-1 lg:col-span-2">
  <div class="grid grid-cols-2 gap-6">
    <div class="col-span-2">
      <div class="card compact bg-base-100 shadow bg-opacity-40">
        <div class="card-body">
          <div class="mx-3 flex items-center justify-between mb-2">
            <h5 class="card-title">
              <span class="text-base-content opacity-70"> GitHub Projects</span>
            </h5>
            <a
              href={`https://github.com/${github.username}?tab=repositories`}
              target="_blank"
              rel="noreferrer"
              class="text-base-content opacity-50 hover:underline"
            >
              See All
            </a>
          </div>
          <div class="col-span-2">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              {repos && repos.map((repo) => <RepoCard repo={repo} />)}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
