---
import { Certification } from "~/models/certification";
import ListItem from "./ListItem/ListItem.astro";

interface Props {
  certifications: Certification[];
}

const { certifications } = Astro.props;
---

{
  certifications?.length !== 0 && (
    <div class="card shadow-lg compact bg-base-100">
      <div class="card-body">
        <div class="mx-3">
          <h5 class="card-title">
            <span class="text-base-content opacity-70">Certification</span>
          </h5>
        </div>
        <div class="text-base-content text-opacity-60">
          <ol class="relative border-l border-base-300 border-opacity-30 my-2 mx-4">
            {certifications.map((certification, index) => (
              <ListItem
                year={`${certification.year}`}
                name={certification.name}
                body={certification.body}
                link={certification.link ? certification.link : null}
              />
            ))}
          </ol>
        </div>
      </div>
    </div>
  )
}
