---

interface Props {
  skills: string[];
}

const { skills } = Astro.props;
---

{skills?.length !== 0 && (
  <div class="card shadow-lg compact bg-base-100">
    <div class="card-body">
      <div class="mx-3">
        <h5 class="card-title">
          <span class="text-base-content opacity-70">
            Tech Stack
          </span>
        </h5>
      </div>
      <div class="p-3 flow-root">
        <div class="-m-1 flex flex-wrap justify-center">
          {skills.map((skill, index) => (
                <div
                  class="m-1 text-xs inline-flex items-center font-bold leading-sm px-3 py-1 badge-primary bg-opacity-90 rounded-full"
                >
                  {skill}
                </div>
              ))}
        </div>
      </div>
    </div>
  </div>
)}
