---
import { Experience } from "~/models/experience";
import ListItem from "./ListItem/ListItem.astro";

interface Props {
  experiences: Experience[];
}

const { experiences } = Astro.props;
---

{
  experiences?.length !== 0 && (
    <div class="card shadow-lg compact bg-base-100">
      <div class="card-body">
        <div class="mx-3">
          <h5 class="card-title">
            <span class="text-base-content opacity-70">Experience</span>
          </h5>
        </div>
        <div class="text-base-content text-opacity-60">
          <ol class="relative border-l border-base-300 border-opacity-30 my-2 mx-4">
            {experiences.map((experience, index) => (
              <ListItem
                time={`${experience.from} - ${experience.to}`}
                position={experience.position}
                company={experience.company}
                companyLink={
                  experience.companyLink ? experience.companyLink : null
                }
              />
            ))}
          </ol>
        </div>
      </div>
    </div>
  )
}
